<h2>New</h2>

<form [formGroup]="newForm" (ngSubmit)="create()">

  <label class="form-field">

    <span>ISBN</span>

    <input formControlName="isbn" />

    <small
      *ngIf="
        newForm.get('isbn')?.dirty && newForm.get('isbn')?.hasError('required')
      "
      class="form-field-hint"
    >
      Please insert an ISBN.
    </small>

  </label>

  <label class="form-field">

    <span>Title</span>

    <input formControlName="title" />

    <small
      *ngIf="
        newForm.get('title')?.dirty &&
        newForm.get('title')?.hasError('required')
      "
      class="form-field-hint"
    >
      Please insert a title.
    </small>

  </label>

  <label class="form-field">

    <span>Author</span>

    <input formControlName="author" />

  </label>

  <label class="form-field">

    <span>Cover-URL</span>

    <input formControlName="cover" />

  </label>

  <label class="form-field">

    <span>Abstract</span>

    <input formControlName="abstract" />

  </label>

  <div class="form-actions">

    <button type="submit" [disabled]="newForm.invalid">Save</button>

  </div>

</form>

